In [1]:
print("hello all welcom to python world")

hello all welcom to python world

In [ ]:
understanding the variables in python

In [5]:
x = 2
y = 3

In [6]:
z = x+y

print(z)

5

In [ ]:
Rules for declearing the variables in python

In [ ]:
Rule : 1 . no name spaces while declearing the variables

In [17]:
First Name = "Akshay"
    
print(First Name)

SyntaxError: invalid syntax (3083492635.py, line 1)

In [16]:
firstname = "Akshay"
    
print(firstname)

Akshay

In [ ]:
Rule 2 : A variable name should not start with number

In [18]:
1name = 'Akshay'
print(1name)

SyntaxError: invalid syntax (972098279.py, line 1)

In [ ]:
But we can put number after the variable like this

In [19]:
name1 = 'Akshay'
print(name1)

Akshay

In [ ]:
Rule no 3 : variable should not contain any special charactors

In [ ]:
like !@#$%^&&*()_<>?":{}/.,;'[]'"

In [20]:
name@ ='Akshay'
print(name@)

SyntaxError: invalid syntax (1247452869.py, line 1)

In [ ]:
for executing the cells we have to press shift+enter button...............

In [ ]:
introduction to datatypes in python }}}}}}}}}}}}

In [ ]:
1 . string  -----> str
2 . Number  -----> integers (int)and floats (float) (decimal)
3 . list    -----> list
4 . tuples  -----> tuple
5 . dictionaries ----> dict

In [ ]:
classification of datatypes in python :
    

    1. Mutable ---> which we can edit and alter ===> fixable in nature
    2. immutable---> which we can not edit and alter ====> un fixable in nature

In [ ]:
introduction to string datatype :
    
defination : A string is series of characters decleared in quotes
classification : it classified as immutable datatype
how to declear the string datatype......?
3 approches of declearing the string.
1. single qoute
2. double qoute
3. triple qoute.

In [22]:
name1 = 'akshay' # single quote
print(name1)

akshay

In [23]:
name2 = "shruti"  # double quote
print(name2)

shruti

In [24]:
name3 = """siya""" #triple qoute
print(name3)

siya